name: Check & fix styling

on:
  push:
    paths:
      - "**.php"
      - ".php_cs"

jobs:
  style:
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fix style
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --config=.php_cs --allow-risky=yes

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - uses: stefanzweifel/git-auto-commit-action@v4.0.0
        with:
          commit_message: Fix styling
